# ARTEMIS

Quick start

In [1]:
from artemis import DataModel, ARTEMIS

In [2]:
r = DataModel(
    path='examples/6ugg/6ugg.cif', fmt='.cif',
    res='/B',
)

q = DataModel(
    path='examples/1ivs.pdb', fmt='.pdb',
    res='/C', resneg=None, seed=None
)

artemis = ARTEMIS(r, q, 
                  matchrange=3.5, toplargest=100, stepdiv=0, shift=5)
artemis.run()

In [3]:
print(artemis.show(verbose=False, permutation=True))

 ********************************************************************
 * ARTEMIS (Version 20231004)                                       *
 * using ARTEM to Infer Sequence alignment                          *
 * Reference: TODO                                                  *
 * Please email comments and suggestions to dbohdan@iimcb.gov.pl    *
 ********************************************************************

Name of structure r: examples/6ugg/6ugg.cif:B
Name of structure q: examples/1ivs.pdb:C (to be superimposed onto structure r)
Length of structure r: 77 residues
Length of structure q: 75 residues

Aligned length= 70, RMSD=   2.21, Seq_ID=n_identical/n_aligned= 0.629
TM-score= 0.72618 (normalized by length of structure r: L=77, d0=2.75)
TM-score= 0.74090 (normalized by length of structure q: L=75, d0=2.68)

(":" denotes residue pairs of d < 5.0 Angstrom, "." denotes other aligned residues)
GGAGCGGUAGUUCAGUCGGUUAGAAUACCUGCC----UGUCAC-GCAGGGGGUCGCGGGUUCGAGUCCCGUCCGUUCCGCCA
::::::::::::::: ::: :::::::::::..         : ::::::::::::::::::::::::::::::::::....
GGGCGGCUAGCUCAG-CGG-AAGAGCGCUCGCCUCAC-----ACGCGAGAGGUCGUAGGUUCAAGUCCUACGCCGCCCACCA

_______________________________________________________________________________

Alignment with permutations:

Aligned length= 69
TM-score= 0.72704 (normalized by length of structure r)
TM-score= 0.74180 (normalized by length of structure q)
RMSD=   1.98
Seq_ID=n_identical/n_aligned= 0.609

Distance table:

   6ugg    dist    1ivs
 1.B.G.0.  3.28 1.C.G.901.
 1.B.G.1.  1.97 1.C.G.902.
 1.B.A.2.  1.11 1.C.G.903.
 1.B.G.3.  0.90 1.C.C.904.
 1.B.C.4.  0.88 1.C.G.905.
 1.B.G.5.  0.74 1.C.G.906.
 1.B.G.6.  0.68 1.C.C.907.
 1.B.U.7.  0.36 1.C.U.908.
 1.B.A.8.  0.65 1.C.A.909.
 1.B.G.9.  0.44 1.C.G.910.
1.B.U.10.  0.73 1.C.C.911.
1.B.U.11.  0.91 1.C.U.912.
1.B.C.12.  0.68 1.C.C.913.
1.B.A.13.  0.49 1.C.A.914.
1.B.G.14.  0.41 1.C.G.915.
1.B.U.15.  4.83 1.C.C.916.
1.B.G.17.  0.71 1.C.G.917.
1.B.G.18.  1.36 1.C.G.918.
1.B.U.20.  2.99 1.C.A.919.
1.B.A.21.  0.29 1.C.A.920.
1.B.G.22.  0.29 1.C.G.921.
1.B.A.23.  0.44 1.C.A.922.
1.B.A.24.  0.38 1.C.G.923.
1.B.U.25.  0.37 1.C.C.924.
1.B.A.26.  0.15 1.C.G.925.
1.B.C.27.  0.16 1.C.C.926.
1.B.C.28.  0.17 1.C.U.927.
1.B.U.29.  1.27 1.C.C.928.
1.B.G.30.  3.35 1.C.G.929.
1.B.C.31.  5.20 1.C.C.930.
1.B.C.32.  5.28 1.C.C.931.
1.B.C.38.  2.66 1.C.A.936.
1.B.G.39.  2.36 1.C.G.938.
1.B.C.40.  0.61 1.C.C.939.
1.B.A.41.  1.38 1.C.G.940.
1.B.G.42.  1.87 1.C.A.941.
1.B.G.43.  0.85 1.C.G.942.
1.B.G.44.  0.89 1.C.A.943.
1.B.G.45.  0.95 1.C.G.944.
1.B.G.46.  1.07 1.C.G.945.
1.B.U.47.  2.63 1.C.U.946.
1.B.C.48.  0.53 1.C.C.947.
1.B.G.49.  0.73 1.C.G.948.
1.B.C.50.  1.06 1.C.U.949.
1.B.G.51.  1.32 1.C.A.950.
1.B.G.52.  0.78 1.C.G.951.
1.B.G.53.  0.57 1.C.G.952.
1.B.U.54.  0.69 1.C.U.953.
1.B.U.55.  0.81 1.C.U.954.
1.B.C.56.  0.69 1.C.C.955.
1.B.G.57.  0.64 1.C.A.956.
1.B.A.58.  1.26 1.C.A.957.
1.B.G.59.  0.55 1.C.G.958.
1.B.U.60.  1.06 1.C.U.959.
1.B.C.61.  0.60 1.C.C.960.
1.B.C.62.  0.42 1.C.C.961.
1.B.C.63.  0.38 1.C.U.962.
1.B.G.64.  0.95 1.C.A.963.
1.B.U.65.  0.92 1.C.C.964.
1.B.C.66.  0.46 1.C.G.965.
1.B.C.67.  0.49 1.C.C.966.
1.B.G.68.  0.86 1.C.C.967.
1.B.U.69.  0.86 1.C.G.968.
1.B.U.70.  0.46 1.C.C.969.
1.B.C.71.  2.14 1.C.C.970.
1.B.C.72.  3.46 1.C.C.971.
1.B.G.73.  4.36 1.C.C.973.
1.B.C.74.  3.59 1.C.C.974.
1.B.A.76.  7.34 1.C.A.975.

#Total CPU time is  2.78 seconds

In [4]:
artemis.save(saveto='myfolder', saveres='#', saveformat='.pdb', permutation=True)

In [5]:
r.to_pdb(f'myfolder/{r}.pdb')

In [6]:
artemis.get_config()

{'r': 'examples/6ugg/6ugg.cif',
 'rformat': '.cif',
 'rres': '/B',
 'rresneg': '',
 'rseed': '/B',
 'q': 'examples/1ivs.pdb',
 'qformat': '.pdb',
 'qres': '/C',
 'qresneg': '',
 'qseed': '/C',
 'matchrange': 3.5,
 'toplargest': 100,
 'shift': 5,
 'stepdiv': 0,
 'threads': 8}

In [7]:
artemis.get_alignment()

{'rName': 'examples/6ugg/6ugg.cif',
 'qName': 'examples/1ivs.pdb',
 'rChain': 'B',
 'qChain': 'C',
 'rLength': 77,
 'qLength': 75,
 'aliLength': 70,
 'RMSD': 2.2095782757833984,
 'Seq_ID': 0.6285714285714286,
 'rTMscore': 0.726178534326508,
 'r_d0': 2.7478567053607703,
 'qTMscore': 0.7409035246741379,
 'q_d0': 2.6788029504896205,
 'rAlignment': 'GGAGCGGUAGUUCAGUCGGUUAGAAUACCUGCC----UGUCAC-GCAGGGGGUCGCGGGUUCGAGUCCCGUCCGUUCCGCCA',
 'distances': '::::::::::::::: ::: :::::::::::..         : ::::::::::::::::::::::::::::::::::....',
 'qAlignment': 'GGGCGGCUAGCUCAG-CGG-AAGAGCGCUCGCCUCAC-----ACGCGAGAGGUCGUAGGUUCAAGUCCUACGCCGCCCACCA',
 'transform': (array([[-0.28373483,  0.82758307, -0.48435608],
         [-0.95558695, -0.28600113,  0.07111216],
         [-0.07967517,  0.48302135,  0.87197606]]),
  array([231.7795176 , -99.49733299,  37.22959065]))}

In [8]:
artemis.get_permutation()

{'p_aliLength': 69,
 'p_rTMscore': 0.7270370126256864,
 'p_qTMscore': 0.7417983533358273,
 'p_RMSD': 1.9779515394562477,
 'p_Seq_ID': 0.6086956521739131,
 'transform': (array([[-0.28592922,  0.82786421, -0.48258194],
         [-0.95507534, -0.28716947,  0.0732448 ],
         [-0.07794605,  0.48184494,  0.87278283]]),
  array([231.95026095, -99.44385234,  36.9045758 ]))}

In [9]:
artemis.get_distance_1().head() # distance table for alignment without permutations

       6ugg      dist        1ivs
0  1.B.G.0.  3.236392  1.C.G.901.
1  1.B.G.1.  1.941278  1.C.G.902.
2  1.B.A.2.  1.094817  1.C.G.903.
3  1.B.G.3.  0.913835  1.C.C.904.
4  1.B.C.4.  0.893825  1.C.G.905.

In [10]:
artemis.get_distance_2().head() # distance table for alignment with permutations

       6ugg      dist        1ivs
0  1.B.G.0.  3.278961  1.C.G.901.
1  1.B.G.1.  1.974291  1.C.G.902.
2  1.B.A.2.  1.106263  1.C.G.903.
3  1.B.G.3.  0.899626  1.C.C.904.
4  1.B.C.4.  0.881424  1.C.G.905.

In [11]:
r.atom_site.head()

,group_PDB,id,type_symbol,label_atom_id,label_alt_id,label_comp_id,label_asym_id,label_entity_id,label_seq_id,pdbx_PDB_ins_code,...,occupancy,B_iso_or_equiv,pdbx_formal_charge,auth_seq_id,auth_comp_id,auth_asym_id,auth_atom_id,pdbx_PDB_model_num,auth_alt_id,auth_entity_id
0,ATOM,1,O,OP3,.,G,A,1,1,?,...,1.0,87.03,?,0,G,A,OP3,1,.,1
1,ATOM,2,P,P,.,G,A,1,1,?,...,1.0,89.03,?,0,G,A,P,1,.,1
2,ATOM,3,O,OP1,.,G,A,1,1,?,...,1.0,87.01,?,0,G,A,OP1,1,.,1
3,ATOM,4,O,OP2,.,G,A,1,1,?,...,1.0,88.40,?,0,G,A,OP2,1,.,1
4,ATOM,5,O,O5',.,G,A,1,1,?,...,1.0,83.89,?,0,G,A,O5',1,.,1

In [ ]:
# Example script for the pairwise superposition of files from a folder

import os
# import sys

from artemis import DataModel, ARTEMIS

folder = 'benchmarks/helical-packing/structures/' # sys.argv[1]

if __name__ == '__main__':

    structures = []

    for file in os.listdir(folder):
        path = os.path.join(folder, file)

        # file filtering
        if not path.endswith('.pdb'):
            continue
        # if not path.endswith('.cif'):
        #     continue

        # file upload
        structure = DataModel(path=path, fmt='.pdb')
        # structure = DataModel(path=path, fmt='.cif')
        structures.append(structure)

    # descending sorting for len(r) >= len(q)
    structures.sort(key=len, reverse=True)

    n = len(structures)
    results = []

    for i in range(n - 1):
        r = structures[i]
        for j in range(i + 1, n):
            q = structures[j]

            artemis = ARTEMIS(r, q)
            artemis.run()
            results.append(artemis)

            # results processing

            ans = artemis.ans1      # sequentially-ordered superposition
            # ans = artemis.ans2    # topology-independent superposition

            TM1  = ans['rTM']
            TM2  = ans['qTM']
            RMSD = ans['RMSD']

            # output

            print(f'{artemis.r} {artemis.q} {TM1:.3f} {TM2:.3f} {RMSD:.3f}')
            # artemis.save(*args, **kwargs)

    # other results processing

    # for artemis in results:
    #     ...